//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

// Light Color Palette (Custom Properties)
html {
  --color-primary: hsl(87, 98%, 34%);
  --color-primary-m: hsla(87, 100%, 45%, 0.55);
  --color-secondary: hsl(274, 99%, 72%);
  --color-secondary-m: hsl(274, 99%, 72%, 0.6);
  --color-tertiary: hsl(185, 36%, 47%);
  --color-tertiary-m: rgba(38, 52, 65, 0.65);
  --color-quaternary: rgb(255, 235, 153);
  --color-quaternary-m: rgba(192, 162, 43, 0.65);
  --color-quinary: white;
  --color-quinary-m: rgba(255, 255, 255, 0.5);
}
